# Introduction



Selecting specific values of a pandas `DataFrame` or `Series` to work on is an implicit step in almost any data operation you'll run, so one of the first things you need to learn in working with data in Python is how to go about selecting the data points relevant to you quickly and effectively.

# Set Up

read winemag-data.csv

https://assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf

Look at an overview of your data by running the following line

# Exercises

## 1.

Select the `description` column from `reviews` and assign the result to the variable `desc`.

## 2.

Select the first value from the description column of `reviews`, assigning it to variable `first_description`.

## 3. 

Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`.

## 4.

Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`.

Hint: format your output as a `pandas` `Series`.

## 5.

Select the records with index labels `1`, `2`, `3`, `5`, and `8`, assigning the result to the variable `sample_reviews`.

## 6.

Create a variable `df` containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `0`, `1`, `10`, and `100`. In other words, generate the following `DataFrame`:

## 7.

Create a variable `df` containing the `country` and `variety` columns of the first 100 records.

## 8.

Create a DataFrame `italian_wines` containing reviews of wines made in `Italy`. Hint: `reviews.country` equals what?

## 9.

Create a DataFrame `top_oceania_wines` containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.