1. **Column selection**

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)

1.4.4

In [4]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}


df = pd.DataFrame(d)
print(df)

print (df['one'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

1. **Column addition**

In [5]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}


df = pd.DataFrame(d)
print (df)

df['three']=pd.Series([10,20,30],index=['a','b','c'])

df['four']=df['one']+df['three']

print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

2. **Column deletion**

In [7]:
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(data)
print (df)

# using del function
del df['one']
print (df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

3. **Row Selection, Addition, and Deletion**

In [11]:
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

#1
df = pd.DataFrame(data)
print (df.loc['b'])

#2
print (df.iloc[2])

#3
print (df[2:4])

one    2.0
two    2.0
Name: b, dtype: float64
one    3.0
two    3.0
Name: c, dtype: float64
   one  two
c  3.0    3
d  NaN    4

4. **Addition of Rows**

In [17]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

#obsolate
#df = df.append(df2)

df = pd.concat([df, df2])
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

5. **Deletion of rows**

In [18]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])

df = df.drop(0)
df

   a  b
1  3  4

In [8]:
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
#print (ser)
# Solution
df = ser.to_frame().reset_index(drop=True)
print(df.head())

   0
0  0
1  1
2  2
3  3
4  4