There are generally 3 ways to apply custom functions in Pandas: 
`map` , `apply` , and `applymap`.
map works element-wise on a series, and is optimized for mapping values to a series (e.g. one column of a DataFrame).
applymap works element-wise on a DataFrame, and is optimized for mapping values to a DataFrame.
apply works on both series and DataFrames, but it’s relatively slow and should only be used if you’re running out of other options.

In [2]:
import pandas as pd
import numpy as np

#MAP

def get_avg_rating(lst):
    if len(lst) == 0:
        return np.nan
    else:
        return round(sum(lst) / len(lst), 1)


df = pd.DataFrame([[1, 2, 'cat', []]
    ,[3, 4, 'dog', [1,2,3]]
    ,[5, 1, np.nan, [3,5,5]]], columns=['A', 'B', 'C', 'D'])
print(df)

#value mapping
df['C'] = df['C'].map({'cat': 'kitten', 'dog': 'puppy'})
print (df)

#anonymus method
df1 = df['C'] = df['C'].map(lambda x: 'unknown' if x is np.NaN else x.upper())
print(df1)

#custom method
df['D'] = df['D'].map(get_avg_rating)

   A  B    C          D
0  1  2  cat         []
1  3  4  dog  [1, 2, 3]
2  5  1  NaN  [3, 5, 5]
   A  B       C          D
0  1  2  kitten         []
1  3  4   puppy  [1, 2, 3]
2  5  1     NaN  [3, 5, 5]
0     KITTEN
1      PUPPY
2    unknown
Name: C, dtype: object

In [4]:
#APPLYMAP

print(df.applymap(lambda x: len(str(x))))

print(df[['A', 'B']].applymap(lambda x: x**2))

   A  B  C  D
0  1  1  6  3
1  1  1  5  3
2  1  1  7  3
    A   B
0   1   4
1   9  16
2  25   1

In [8]:
#APPLY

def add(row):
   return row[0]+row[1]

df['new_col'] = df.apply(add, axis=1)
df

   A  B        C    D  new_col
0  1  2   KITTEN  NaN        3
1  3  4    PUPPY  2.0        7
2  5  1  unknown  4.3        6