In [14]:
import pandas as pd
import numpy as np
 
data = {'Name':pd.Series(['Ricky','Tom','Ricky','Vin','Steve','Ricky','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

df = pd.DataFrame(data)

44.919999999999995
31.833333333333332
0.6616279280316959
23
             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000
         Name        Age     Rating
count      12  12.000000  12.000000
unique     10        NaN        NaN
top     Ricky        NaN        NaN
freq        3        NaN        NaN
mean      NaN  31.833333   3.743333
std       NaN   9.232682   0.661628
min       NaN  23.000000   2.560000
25%       NaN  25.000000   3.230000
50%       NaN  29.500000   3.790000
75%       NaN  35.500000   4.132500
max       NaN  51.000000   4.800000
             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [15]:
df['Name'].describe()

count        12
unique       10
top       Ricky
freq          3
Name: Name, dtype: object

In [16]:
df.describe()

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [17]:
# Finally, you may apply the following template to get the descriptive statistics for the entire DataFrame:

print (df.describe(include='all'))

         Name        Age     Rating
count      12  12.000000  12.000000
unique     10        NaN        NaN
top     Ricky        NaN        NaN
freq        3        NaN        NaN
mean      NaN  31.833333   3.743333
std       NaN   9.232682   0.661628
min       NaN  23.000000   2.560000
25%       NaN  25.000000   3.230000
50%       NaN  29.500000   3.790000
75%       NaN  35.500000   4.132500
max       NaN  51.000000   4.800000

Breaking Down the Descriptive Statistics

You can further breakdown the descriptive statistics into the following:

In [20]:
print("Count:" + str(df['Age'].count()))

print("Mean:" + str(df['Age'].mean()))

print("Standard deviation:" + str(df['Age'].std()))

print("Min:" + str(df['Age'].min()))

print("25%:" + str(df['Age'].quantile(q=0.25)))
print("50%:" + str(df['Age'].quantile(q=0.5)))
print("75%:" + str(df['Age'].quantile(q=0.75)))

print("Max:" + str(df['Age'].max()))

12
31.833333333333332
9.232682396921506
23

In [22]:
print (df.describe(percentiles=[.25, .5, .75]))

print (df.describe(percentiles=[]))

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000
             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
50%    29.500000   3.790000
max    51.000000   4.800000