In [1]:
import pandas as pd

### 1. 
Given a list, output the corresponding pandas series

### 2.

Given a series, output the corresponding pandas series with odd indexes only

### 3.

Generate the series of dates from 1st May, 2021 to 12th May, 2021 (both inclusive)

### 4.

Apply the function, f(x) = x/2 on each and every element of a given pandas series

### 5.

Given a dictionary, convert it into corresponding dataframe and display it

### 6.

Given a 2D List, convert it into corresponding dataframe and display it

In [ ]:
lists = [[1, 'Kati', 30],
         [2, 'Anna', 33],
         [3, 'Emma', 36]]

### 7.

Given a data.csv file, read it into a dataframe and display it

### 8.

Import the data.csv and change the index of a dataframe from the default indexes to a particular id column

### 9.

Import the data.csv (say, with custom indexing), sort it by it's index

### 10.

Import the data.csv, sort it by multiple columns

### 11.

Import the data.csv, add custom index, set to default indexing and display it

### 12.

Import the data.csv and select the name column and display it

### 13.

Import the data csv, select first 2 rows and output them

### 14.

Import the data csv, select rows with age greater than or equal to 24

### 15.

Given is a dataframe showing name, occupation, salary of people. Find the average salary per occupation

```
     name       occ  salary
0   Kati  engineer   60000
1   Anna    doctor   70000
2   Emma  engineer   50000
3   Kitti   doctor   60000
4   Lotti   doctor   65000
```

### 16.

Given a dataframe with NaN Values, fill the NaN values with 0

```
     name       occ  salary
0   Kati  engineer   60000
1   Anna    doctor   Nan
2   Emma  engineer   50000
3   Kitti   doctor   Nan
4   Lotti   doctor   65000
```

### 17.

Given is a dataframe showing Company Names (cname) and corresponding Profits (profit). Convert the values of Profit column such that values in it greater than 0 are set to True and the rest are set to False.

```
                cname  profit
0     Banana Republic  -10000
1               Apple   10000
2              Orange   -5000
```

### 18.

Given are 2 dataframes, with one dataframe containing Employee ID (eid), Employee Name (ename) and Stipend (stipend) and the other dataframe containing Employee ID (eid) and designation of the employee (designation). Output the Dataframe containing Employee ID (eid), Employee Name (ename), Stipend (stipend) and Position (position).

```
   eid   ename  stipend
0    1     Sid    10000
1    2     Tom    10000
2    3     Ron     5000
3    4   Harry    15000

   eid         position
0    1         employee
1    2         employee
2    3           intern
3    4  senior_employee

   eid   ename  stipend         position
0    1     Sid    10000         employee
1    2     Tom    10000         employee
2    3     Ron     5000           intern
3    4   Harry    15000  senior_employee
```

### 19.

Given a dataframe, output the non-null count and data-type for every column

```
eid   ename  stipend         position
0    1     Sid    10000         employee
1    2     Tom    10000         employee
2    3     Ron     5000           intern
3    4   Harry    15000  senior_employee
```

### 20.

Given a dataframe, generate the statistical summary of all the numerical features present in it

```
   eid   ename  stipend         position
0    1     Sid    10000         employee
1    2  Ramesh    10000         employee
2    3     Ron     5000           intern
3    4   Harry    15000  senior_employee

            eid       stipend
count  4.000000      4.000000
mean   2.500000  10000.000000
std    1.290994   4082.482905
min    1.000000   5000.000000
25%    1.750000   8750.000000
50%    2.500000  10000.000000
75%    3.250000  11250.000000
max    4.000000  15000.000000
```

### 21.

Insert a column at a specific location in a DataFrame

Prompt: Assume that you again have a DataFrame. Additionally, you are given a list whose size is the same as the number of rows in the given DataFrame. The task is to insert the given list as a new column at a given position of the DataFrame.

In [3]:
import pandas as pd

df = pd.DataFrame([["A", 1], ["B", 2], ["C", 3], ["D", 4]],
                  columns = ["Col_A", "Col_B"])

new_column = ["P", "Q", "R", "S"]
insert_position = 1

#YOUR CODE HERE

"""
	col_A	col_C	col_B
0	A	P	1
1	B	Q	2
2	C	R	3
3	D	S	4
"""

'\n\tcol_A\tcol_C\tcol_B\n0\tA\tP\t1\n1\tB\tQ\t2\n2\tC\tR\t3\n3\tD\tS\t4\n'

### 22.
Select columns based on the column’s Data Type

Prompt: We all are familiar with row-based filtering, aren’t we? Well, let’s try something else. Your task is to filter all the columns from a DataFrame whose entries adhere to a given data type.

In [4]:
import pandas as pd

df = pd.DataFrame([["A", 1, True], ["B", 2, False],
                   ["C", 3, False], ["D", 4, True]], 
                  columns=["col_A", "col_B", "col_C"])

dt_type = "bool"

## YOUR CODE HERE
"""
	col_C
0	True
1	False
2	False
3	True
"""

'\n\tcol_C\n0\tTrue\n1\tFalse\n2\tFalse\n3\tTrue\n'

### 23.
Count the number of Non-NaN cells for each column

Prompt: Next, given a DataFrame (with NaN values in one or more columns), you need to print the number of Non-NaN cells for each column.

In [5]:
import numpy as np

df = pd.DataFrame([["A", np.NaN], [np.NaN, 2],
                   ["C", np.NaN], ["D", 4]], 
                  columns=["col_A", "col_B"])

"""
	col_A	col_B
0	A	NaN
1	NaN	2.0
2	C	NaN
3	D	4.0
"""

# YOUR CODE HERE
"""
col_A    3
col_B    2
"""

'\ncol_A    3\ncol_B    2\n'

### 24.
Split DataFrame into equal parts

Prompt: Given a DataFrame, your task is to split the DataFrame into a given number of equal parts.

In [ ]:
import pandas as pd

df = pd.DataFrame([["A", 1], ["B", 2], ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

parts = 2
 
## YOUR CODE HERE

"""
	col_A	col_B
0	A	1
1	B	2
"""

### 25.

Reverse DataFrame row-wise or column-wise

Prompt: Next, consider that you have a DataFrame similar to the one we used above. Your task is to flip the entire DataFrame row-wise or column-wise.

In [ ]:
import pandas as pd

df = pd.DataFrame([["A", 1], ["B", 2], ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

# YOUR CODE HERE
"""
	col_B	col_A
0	1	A
1	2	B
2	3	C
3	4	D
"""