### 1. Load

Load the clothes.csv and assign to a dataframe variable

| Column Name | Description                   |
|-------------|-------------------------------|
| Date        | Date of transaction           |
| Region      | The region of the transaction |
| Type        | The type of clothing sold     |
| Units       | The number of units sold      |
| Sales       | The cost of the sale          |

### 2. create 
Create a sales_by_region pivot table with region index and sales and units as values

In [ ]:

#Expected output:

#              Sales      Units
# Region                       
# East    408.182482  19.732360
# North   438.924051  19.202643
# South   432.956204  20.423358
# West    452.029412  19.29411

### 3. 

Specifying Aggregation Method in a Pandas Pivot Table
Produce the sum of our sales across all regions

In [ ]:
# Specifying the Aggregation Function
pivot = pd.pivot_table(
    data=df,
    index='Region',
    aggfunc='sum'
)

print(pivot)

# Expected:
#          Sales   Units
# Region                
# East    167763  8110.0
# North   138700  4359.0
# South    59315  2798.0
# West     61476  2624.0

### 4. 

Multiple Aggregation Method in a Pandas DataFrame
Let’s produce aggregations for both the mean and the sum:

In [ ]:

# Expected:
#               mean                sum        
#              Sales      Units   Sales   Units
# Region                                       
# East    408.182482  19.732360  167763  8110.0
# North   438.924051  19.202643  138700  4359.0
# South   432.956204  20.423358   59315  2798.0
# West    452.029412  19.294118   61476  2624.0

### 5. 
Different Aggregations Per Column 
Calculate the sum of units and the average number of sales:

In [ ]:

# Expected:
#        Sales(mean)  Units(sum)
# Region                    
# East    408.182482      8110.0
# North   438.924051      4359.0
# South   432.956204      2798.0
# West    452.029412      2624.0

### 6. 

Split the data into different columns are delivered by the Type column.

In [ ]:
print(pivot)

# Expected:
# Type    Children's Clothing  Men's Clothing  Women's Clothing
# Region                                                       
# East             405.743363      423.647541        399.028409
# North            438.894118      449.157303        432.528169
# South            412.666667      475.435897        418.924528
# West             480.523810      465.292683        419.188679

### 7. 
Create multiple index. 

auto_awesome
Next to the regions, display the period of sales broken down by quarter of years

In [ ]:
# Expected:
# Type         Children's Clothing  Men's Clothing  Women's Clothing
# Region Date                                                       
# East   1              423.241379      369.250000        428.948718
#        2              274.800000      445.425000        456.816327
#        3              425.382353      506.421053        342.386364
#        4              453.866667      405.666667        364.795455
# North  1              394.727273      450.869565        489.944444

### 8. 

List only the intersection of East Region, Quarter 2, and Women’s clothing

### 9. 

Add totals to pivot table. Total column and row should be named as Total