### 1. Load

Load the clothes.csv and assign to a dataframe variable

| Column Name | Description                   |
|-------------|-------------------------------|
| Date        | Date of transaction           |
| Region      | The region of the transaction |
| Type        | The type of clothing sold     |
| Units       | The number of units sold      |
| Sales       | The cost of the sale          |

In [7]:
import pandas as pd
df = pd.read_csv('clothes.csv')
df

     Unnamed: 0        Date Region                 Type  Units  Sales
0             0  2020-07-11   East  Children's Clothing   18.0    306
1             1  2020-09-23  North  Children's Clothing   14.0    448
2             2  2020-04-02  South     Women's Clothing   17.0    425
3             3  2020-02-28   East  Children's Clothing   26.0    832
4             4  2020-03-19   West     Women's Clothing    3.0     33
..          ...         ...    ...                  ...    ...    ...
995         995  2020-02-11   East  Children's Clothing   35.0    735
996         996  2020-12-25  North       Men's Clothing    NaN   1155
997         997  2020-08-31  South       Men's Clothing   13.0    208
998         998  2020-08-23  South     Women's Clothing   17.0    493
999         999  2020-08-17  North     Women's Clothing   25.0    300

[1000 rows x 6 columns]

### 2. create 
Create a sales_by_region pivot table with region index and sales and units as values

In [12]:

#Expected output:

#              Sales      Units
# Region                       
# East    408.182482  19.732360
# North   438.924051  19.202643
# South   432.956204  20.423358
# West    452.029412  19.29411

pivot = pd.pivot_table(
    data=df,
    index='Region',
    values =["Sales", "Units"]
)
print(pivot)

             Sales      Units
Region
East    408.182482  19.732360
North   438.924051  19.202643
South   432.956204  20.423358
West    452.029412  19.294118

### 3. 

Specifying Aggregation Method in a Pandas Pivot Table
Produce the sum of our sales across all regions

In [13]:
# Specifying the Aggregation Function
pivot = pd.pivot_table(
    data=df,
    index='Region',
    aggfunc='sum'
)

print(pivot)

# Expected:
#          Sales   Units
# Region                
# East    167763  8110.0
# North   138700  4359.0
# South    59315  2798.0
# West     61476  2624.0

         Sales   Units  Unnamed: 0
Region
East    167763  8110.0      200657
North   138700  4359.0      158885
South    59315  2798.0       71474
West     61476  2624.0       68484

### 4. 

Multiple Aggregation Method in a Pandas DataFrame
Let’s produce aggregations for both the mean and the sum:

In [14]:
pivot = pd.pivot_table(
    data=df,
    index='Region',
    aggfunc=['mean', 'sum']
)

print(pivot)

# Expected:
#               mean                sum        
#              Sales      Units   Sales   Units
# Region                                       
# East    408.182482  19.732360  167763  8110.0
# North   438.924051  19.202643  138700  4359.0
# South   432.956204  20.423358   59315  2798.0
# West    452.029412  19.294118   61476  2624.0

              mean                            sum
             Sales      Units  Unnamed: 0   Sales   Units Unnamed: 0
Region
East    408.182482  19.732360  488.216545  167763  8110.0     200657
North   438.924051  19.202643  502.800633  138700  4359.0     158885
South   432.956204  20.423358  521.708029   59315  2798.0      71474
West    452.029412  19.294118  503.558824   61476  2624.0      68484

### 5. 
Different Aggregations Per Column 
Calculate the sum of units and the average number of sales:

In [17]:
pivot = pd.pivot_table(
    data=df,
    index='Region',
    aggfunc={'Sales': 'mean', 'Units': 'sum'}
)
pivot.columns = ["Sales(mean)", "Units(sum)"]

print(pivot)

# Expected:
#        Sales(mean)  Units(sum)
# Region                    
# East    408.182482      8110.0
# North   438.924051      4359.0
# South   432.956204      2798.0
# West    452.029412      2624.0

        Sales(mean)  Units(sum)
Region
East     408.182482      8110.0
North    438.924051      4359.0
South    432.956204      2798.0
West     452.029412      2624.0